* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #c28f7b;
  color: rgb(58, 49, 24);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.page-section-container {
  width: 60vw;
  margin: 10px 0;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: rgb(61, 52, 27);
}
