body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::before {
    background-image: url("../images/background-pattern.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

/*** HEADER ***/

header {
    text-align: center;
}

nav {
    text-align: center;
    margin: 60px 0 50px 0;
}

nav > a {
    text-decoration: none;
    color: rgb(7, 25, 75);
    background-color: rgba(136, 163, 184, 0.4);   
    margin-left: 40px;
    padding: 15px;
    border-radius: 0 25px;
    font-size: x-large;
}



img {
    width: 20%;
    margin-left: 10px;
}

.dev-title {
    font-size: xx-large;
}

.dev-title,
#dev-text,
h2 {
    color: rgb(9, 31, 94);
    text-align: center;
}

h2 {
    font-size: xx-large;
}

.img-tools {
    text-align: center;
    background-color: rgba(16, 106, 94, 0.1);
    border-radius: 20px;
    width: 50%;
    margin: auto;
    padding: 30px 0;
}

hr {
    width: 60%;
    margin-top: 60px;
    color: rgb(7, 25, 75);
}

/* span {
    text-decoration: line-through;
} */

.img-galeria {
    width: 80%;
    padding: 20px;
}

#section-projetos {
    display: grid;
    width: 80%;
    margin: auto;
    color: rgb(9, 31, 94);
}

#section-projetos > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
} 

#section-projetos > div > figure {
    background-color: rgba(16, 106, 94, 0.1);
    border-radius: 20px;
}

#section-projetos > div > p > span {
    font-weight: bold;
}

#div-text > p {
    margin: 0  35px;
    margin-bottom: 60px;
}

/*** FOOTER ***/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(21, 73, 17);
    padding-bottom: 50px;
    text-align: center;
    border-radius: 60% 60% 0 0;
}

footer > p {
    color: rgb(221, 232, 230); 
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: large;
}

footer > figure {
    width: 50%;
    margin: auto;
}

.img-footer {
    width: 8%;
}


