.image-button-container {
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 200px;
    padding: 15px 30px;
    margin: 10px auto;
}

.image-button-container > img {
    width: 30px;
    margin-right: 10px;
}

.image-button-container > a {
    text-decoration: none;
}

.image-button-container > img,
.image-button-container > p,
.image-button-container > a,
.image-button-container {
    background-color: rgb(199, 194, 180);
}