.bigcard-container {
    display: flex;
    align-items: center;
    border-radius: 10px 30px;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: fit-content;
}

.bigcard-container > img {
    width: 70px;
    border-radius: 50%;
    margin-right: 18px;
}

.bigcard-container h4 {
    margin-bottom: 15px;
}

.bigcard-container > div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.bigcard-container > div > p,
.bigcard-container > div,
.bigcard-container h4,
.bigcard-container {
    background-color: rgb(199, 194, 180);
}